<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="connStr" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  
  <appSettings>
    <add key="saveRoot" value="C:\\DB2Process" />
    <!-- SQL Queries -->
    <add key="QueryListAll" value="select ROUTINENAME from SYSCAT.ROUTINES where ROUTINETYPE='P' and OWNER ='TASDEV' and LANGUAGE = 'SQL' AND UPPER(ROUTINENAME) LIKE '%{1}%' ORDER BY ROUTINENAME DESC FETCH FIRST {0} ROWS ONLY" />
    <add key="QueryContent" value="select TEXT from SYSCAT.ROUTINES where ROUTINETYPE='P' and OWNER ='TASDEV' and LANGUAGE = 'SQL' and UPPER(ROUTINENAME) = '{0}'" />
  </appSettings>
  <connStr>
    <add key="Q0X" value="Server=q.server:port;Database=DBQ01;UID=dbname;PWD=dbpass;" />
    <add key="Q0Y" value="Server=q.server:port;Database=DBQAS;UID=dbname;PWD=dbpass;" />
    <add key="P0A" value="Server=q.server:port;Database=DB0A;UID=dbname;PWD=dbpass;" />
    <add key="P0B" value="Server=q.server:port;Database=DB0B;UID=dbname;PWD=dbpass;" />
    <add key="P0C" value="Server=q.server:port;Database=DB0C;UID=dbname;PWD=dbpass;" />
  </connStr>
</configuration>